In [1]:
import pandas as pd
import re

In [49]:
 employees = [(20 , 'Designers'),(5,  'UI/UX Engineers'),(15 , 'Data Engineers'),(15 , 'Developers'),(20,  'Account Managers'),(1,  'Maintenance guy'),(10,  'Executives'),(1 , 'CEO')]

In [50]:
df_staff = pd.DataFrame(employees)
df_staff.head()
df_staff.rename(columns={0:'num', 1:'pos'}, inplace = True)
df_staff

   num               pos
0   20         Designers
1    5   UI/UX Engineers
2   15    Data Engineers
3   15        Developers
4   20  Account Managers
5    1   Maintenance guy
6   10        Executives
7    1               CEO

In [51]:
# Counting Staff to determine office space necessities 
staff_q = sum(df_staff['num'])
print(f" The company has {staff_q} employees")

 The company has 87 employees

In [135]:
requirements = '''Designers like to go to design talks and share knowledget here must be some nearby companies that also do design.
30% of the company have at least 1 child.
Developers like to be near successful tech startups that have raised at least 1 Million dollars.
Executives like Starbucks A LOT, ensure there's a starbucks not to far.
Account Managers need to travel a lot.
All people in the company have between 25 and 40 years, give them some place to go to party.
The CEO is Vegan.
The office dog "Pepe" needs a hairdresser every month ensure there's one not too far away.
Maintenance guy that loves basketball, if you want to make the Mainte
num	pos
0	20	Designers
1	5	UI/UX Engineers
2	15	Data Engineers
3	15	Developers
4	20	Account Managers
5	1	Maintenance guy
6	10	Executives
7	1	CEO
nance Guy happy, a basketball stadium must be around 10 Km.'''

In [136]:
req2 = requirements.split(".")

In [144]:
employees.append((1,'office dog'))
positions = [ele[1] for ele in employees]
lst = []
req_ass= []
dem_emp= []

for ele in req2:
    for pos in positions: 
        if pos in ele:
            lst.append([pos,ele])
            req_ass.append(ele)
            dem_emp.append(pos)
lst

[['Designers',
  'Designers like to go to design talks and share knowledget here must be some nearby companies that also do design'],
 ['Developers',
  '\nDevelopers like to be near successful tech startups that have raised at least 1 Million dollars'],
 ['Executives',
  "\nExecutives like Starbucks A LOT, ensure there's a starbucks not to far"],
 ['Account Managers', '\nAccount Managers need to travel a lot'],
 ['CEO', '\nThe CEO is Vegan'],
 ['office dog',
  '\nThe office dog "Pepe" needs a hairdresser every month ensure there\'s one not too far away'],
 ['Maintenance guy',
  '\nMaintenance guy that loves basketball, if you want to make the Maintenance Guy happy, a basketball stadium must be around 10 Km']]

In [145]:
comon_req = [['Comon requests', ele] for ele in req2 if ele not in req_ass]
comon_req

[['Comon requests', '\n30% of the company have at least 1 child'],
 ['Comon requests',
  '\nAll people in the company have between 25 and 40 years, give them some place to go to party'],
 ['Comon requests', '']]

In [146]:
chill_emp = [[emp, 'No specific requirements'] for emp in positions if emp not in dem_emp]
chill_emp

[['UI/UX Engineers', 'No specific requirements'],
 ['Data Engineers', 'No specific requirements']]

In [147]:
summary= lst + comon_req + chill_emp

In [148]:
summ = pd.DataFrame(summary)
summ.rename(columns={0:'pos', 1:'req'}, inplace = True)

In [149]:
staff_sumary = summ.merge(df_staff, on='pos', how='outer')
staff_sumary = staff_sumary.sort_values(by='pos')

staff_sumary =  staff_sumary[staff_sumary['req']!=""]
staff_sumary

                 pos                                                req   num
3   Account Managers            \nAccount Managers need to travel a lot  20.0
4                CEO                                 \nThe CEO is Vegan   1.0
7     Comon requests         \n30% of the company have at least 1 child   NaN
8     Comon requests  \nAll people in the company have between 25 an...   NaN
11    Data Engineers                           No specific requirements  15.0
0          Designers  Designers like to go to design talks and share...  20.0
1         Developers  \nDevelopers like to be near successful tech s...  15.0
2         Executives  \nExecutives like Starbucks A LOT, ensure ther...  10.0
6    Maintenance guy  \nMaintenance guy that loves basketball, if yo...   1.0
10   UI/UX Engineers                           No specific requirements   5.0
5         office dog  \nThe office dog "Pepe" needs a hairdresser ev...   NaN

In [150]:
staff_sumary.to_csv('staff_sumary.csv')