In [1]:
import pandas as pd

In [31]:
wb_eodb = pd.read_csv("../geoJSON/data/DBData.csv", encoding="utf-8")

In [32]:
wb_eodb.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 21
0,Beijing,CHN_BEI,Dealing with construction permits (DB06-15 met...,IC.CNST.PRMT.DFRN.DB0615,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,34.42095,35.19682,NaN,NaN,NaN,NaN,NaN,NaN
1,Beijing,CHN_BEI,Dealing with construction permits (DB16-20 met...,IC.CNST.PRMT.DFRN.DB1619,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,41.39762,42.06785,42.40045,43.51246,62.12217,77.7654,NaN
2,Beijing,CHN_BEI,Dealing with construction permits: Building qu...,IC.DCP.BQC.XD.015.DB1619,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.00000,9.00000,9.00000,9.00000,10.00000,15.0000,NaN

In [33]:
wb_eodb.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       'Unnamed: 21'],
      dtype='object')

In [55]:
indicators = list(set(wb_eodb['Indicator Name']))

Key indicators on selecting a country where developing a videogames startup
- 'Starting a business - Score',

In [54]:
# Filtering the top 20 countries where registering a company is easier
startupfriendly = wb_eodb.loc[wb_eodb['Indicator Name']== 'Starting a business - Score']
startupfriendly = list(startupfriendly.sort_values(by='2019', ascending = False)['Country Code'])[0:20]
print(startupfriendly)

['NZL', 'GEO', 'CAN', 'SGP', 'HKG', 'JAM', 'AUS', 'AZE', 'ARM', 'UZB', 'XKX', 'MDA', 'EST', 'BRN', 'GBR', 'TWN', 'IRL', 'MUS', 'NOR', 'NLD']