# geoJSON project

## 0.  Scope of the project:


- Given the preferences of the staff of a company we are asked to make an informed recomendation on the most suitable place to locate their in order to help the company grow.


- We are also mandated to take into acount at least three of the employees preferences.  

#### Staff requirements:

In [5]:
import pandas as pd
pd.read_csv('staff_sumary.csv')

,Unnamed: 0,pos,req,num
0,13,Account Managers,No specific requirements,20.0
1,3,CEO,\nThe CEO is Vegan\nIf you want to make the ma...,1.0
2,12,Data Engineers,No specific requirements,15.0
3,0,Designers,\nDesigners like to go to design talks and sha...,20.0
4,1,Developers,\nDevelopers like to be near successful tech s...,15.0
5,2,Executives,\nExecutives like Starbucks A LOT,10.0
6,4,Maintenance guy,\nMaintenance guy that loves basketball,1.0
7,11,UI/UX Engineers,No specific requirements,5.0
8,5,other_req,There must be some nearby companies that also...,NaN
9,6,other_req,Ensure there's a starbucks not to far,NaN
10,7,other_req,\nAccount managers need to travel a lot\nAll p...,NaN
11,8,other_req,"\nThe office dog ""Pepe"" needs a hairdresser ev...",NaN
12,9,other_req,Ensure there's one not too far away,NaN
13,10,other_req,\n\n,NaN